html, body {
	margin:0;
	padding:0;
	height:100%;
	width: 100%;
}
.name {
	color: #e6e6e6;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 6px;
	margin: 0;
	padding-top: 55px;
	text-align: center;
}
.universityTitle {
	color: #e6e6e6;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
	text-align: center;
	margin-top: 1em;
}
.programTitle {
	color: #e6e6e6;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
	text-align: center;
}
.smallLine {
	color: #e6e6e6;
	font-size: 10px;
	text-align: center;
	margin-top: 2em;
}
body, html {
	height: 100%;
	margin: 0;
}
.mainHead {
	padding-top: 6.1em;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/Website.JPG");
	min-height: 100vh;
	min-width: 100vw;
	height: 100%;
	width: 100%;
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	background-attachment: fixed;
}

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  background: transparent;
  padding: 0;
  border: none;
  font-size: 55px;
  cursor: pointer;
  color: white;
  margin: 5px;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
  transform: scale(1.3) perspective(1px);
}
.intro {
	font-family: 'Oswald', sans-serif;
	width: 50%;
	float: right;
	padding-right: 4em;
	padding-left: 4em;
}
.crossphoto {
	float: left;
	padding-left: 150px;
	padding-top: 20px;
	box-sizing: border-box;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: black;
  opacity: 0.75;
  left: 50%;
  margin-left: -1.5px;
  opacity: 0.6;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
  color: #f2f2f2;
  filter: invert(5%);
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 2;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
.head {
	font-family: 'Oswald', sans-serif;
	color: #595959;
	letter-spacing: 4px;
	text-align: center;
	padding-top: 15px;
	text-transform: uppercase;
	font-size: 45px;
}
.CourseTalkImg {
	height: 65%;
	width: 65%;
	position: relative;
	float: right;
	right: 7em;
	top: 1em;
	padding-top: 23px;
	margin-bottom: 1em;
}
.courseTalkHeader {
	font-family: 'Oswald', sans-serif;
	color: #595959;
	letter-spacing: 4px;
	text-align: center;
	padding-top: 15px;
	text-transform: uppercase;
	font-size: 32px;
}
.courseTalkhead {
	font-size: 25px;
	font-family: 'Oswald', sans-serif;
	color: #595959;
	padding-top: 20px;
	letter-spacing: 2px;
	position: relative;
	left: 10px;
	padding-left: 10px;
	float: left;
	width: 100%;
	padding-bottom: 10px;
}
.builtWith {
	text-align: center;
	margin: 0;
	font-size: 22px;
	position: relative;
	left: 1em;
}
.buttonResume {
  background-color: #005c99;
  border: 1px;
  color: white;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  cursor: pointer;
  border-radius: 6px;
  margin: 0;
  opacity: 0.85;
  margin-top: 1em;
  box-shadow: 10px 10px 5px grey;
}
.buttonResume:hover {
	background-color: #ffffff;
	color: #005c99;
	border: 1px solid #005c99;
	box-shadow: 0px 0px;
}
.buttonResume:active {
  background-color: #005c99;
  border: 1px;
  color: white;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  cursor: pointer;
  border-radius: 6px;
  margin: 0;
  opacity: 0.85;
  margin-top: 1em;
  box-shadow: 10px 10px 5px grey;
}
#more {
	display: none;
}
.readMoreBtn {
	background-color: transparent;
	border: none;
	color: #005c99;
	margin-left: 2em;
	padding-top: 0;
}
.readMoreBtn:hover {
	color: #66b3ff;
}
.email {
	color: #005c99;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 24px;
}
.ending {
	background-color: #4d4d4d;
	height: 40%;
	width: 100%;
}
.expandedChar {
	color: #005c99;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #00111a;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  white-space: nowrap;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  opacity: 0.45;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;

}

.openbtn:hover {
  background-color: #444;
  opacity: 1;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  text-align: left;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: transparent;
  z-index: 100;
  display: inline-block;
}
.toggleContent {
	font-size: 17px;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
}
.arrawsToggle {
	font-size: 17px;
	text-align: center;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 3;
  cursor: pointer;
}
.newPage {
	width: 100%;
	height: 100%;
	font-family: 'Oswald', sans-serif;
}
.endingpg {
	font-family: 'Oswald', sans-serif;
	height: 350px;
	width: 100%;
	background-color: #00111a;
	text-align: center;
}
.endingButton {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	background: transparent;
	padding: 0;
	border: none;
	font-size: 35px;
	cursor: pointer;
	color: #a6a6a6;
	margin: 5px;
}
.endingButton:hover, .endingButton:focus, .endingButton:active {
	transform: scale(1.1) perspective(1px);
	color: white;
}
.madeBy {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	color: #595959;
	font-size: 17px;
}
.nameProgram {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	color: #cccccc;
	font-size: 21px;
}
.email {
	text-decoration: none;
	background-color: transparent;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 21px;
	color: #0033cc;
}
.email:hover {
	text-decoration: none;
	color: #33cccc;
}