@import "variables";

.CourseTalkImg {
	@include proportions(100%, 100%);
	max-height: 100%;
	float: right;

	@include project {
		float: none;
		width: 100%;
		-webkit-align-self: center;
		align-self: center;
		margin: 0;
	}
}
.courseTalkimages {
	float: left;
	max-width: 50%;
	width: 38%;
	vertical-align: middle;
	position: relative;
	left: 5%;
	margin-top: 12%;


	@include project {
	float: none;
	padding: 0%;
	margin: 0% 15%;
	margin-top: 2%;
	max-width: 70%;
	display: inline-block;
	}
}
.courseTalkHeader {
	font-family: $fontstyle;
	color: #595959;
	letter-spacing: 4px;
	text-align: center;
	padding-top: 15px;
	text-transform: uppercase;
	font-size: 32px;

	@include project {
		float: none;
		max-width: 100%;
		width: 100%;
		-webkit-align-self: center;
		align-self: center;
		position: relative;
		margin: 0;
		padding: 0;
		left: 2%;
	}
}
.lineheader {
	@include project {
		position: relative;
		left: 2%;
	}

}
.headerline {
	@include project {
		float: none;
		max-width: 85%;
		width: 100%;
		-webkit-align-self: center;
		align-self: center;
		position: relative;
		left: 5%;
	}
}

@-webkit-keyframes hvr-buzz-out {
	10% {
	  -webkit-transform: translateX(3px) rotate(2deg);
	  transform: translateX(3px) rotate(2deg);
	}
	20% {
	  -webkit-transform: translateX(-3px) rotate(-2deg);
	  transform: translateX(-3px) rotate(-2deg);
	}
	30% {
	  -webkit-transform: translateX(3px) rotate(2deg);
	  transform: translateX(3px) rotate(2deg);
	}
	40% {
	  -webkit-transform: translateX(-3px) rotate(-2deg);
	  transform: translateX(-3px) rotate(-2deg);
	}
	50% {
	  -webkit-transform: translateX(2px) rotate(1deg);
	  transform: translateX(2px) rotate(1deg);
	}
	60% {
	  -webkit-transform: translateX(-2px) rotate(-1deg);
	  transform: translateX(-2px) rotate(-1deg);
	}
	70% {
	  -webkit-transform: translateX(2px) rotate(1deg);
	  transform: translateX(2px) rotate(1deg);
	}
	80% {
	  -webkit-transform: translateX(-2px) rotate(-1deg);
	  transform: translateX(-2px) rotate(-1deg);
	}
	90% {
	  -webkit-transform: translateX(1px) rotate(0);
	  transform: translateX(1px) rotate(0);
	}
	100% {
	  -webkit-transform: translateX(-1px) rotate(0);
	  transform: translateX(-1px) rotate(0);
	}
  }
  @keyframes hvr-buzz-out {
	10% {
	  -webkit-transform: translateX(3px) rotate(2deg);
	  transform: translateX(3px) rotate(2deg);
	}
	20% {
	  -webkit-transform: translateX(-3px) rotate(-2deg);
	  transform: translateX(-3px) rotate(-2deg);
	}
	30% {
	  -webkit-transform: translateX(3px) rotate(2deg);
	  transform: translateX(3px) rotate(2deg);
	}
	40% {
	  -webkit-transform: translateX(-3px) rotate(-2deg);
	  transform: translateX(-3px) rotate(-2deg);
	}
	50% {
	  -webkit-transform: translateX(2px) rotate(1deg);
	  transform: translateX(2px) rotate(1deg);
	}
	60% {
	  -webkit-transform: translateX(-2px) rotate(-1deg);
	  transform: translateX(-2px) rotate(-1deg);
	}
	70% {
	  -webkit-transform: translateX(2px) rotate(1deg);
	  transform: translateX(2px) rotate(1deg);
	}
	80% {
	  -webkit-transform: translateX(-2px) rotate(-1deg);
	  transform: translateX(-2px) rotate(-1deg);
	}
	90% {
	  -webkit-transform: translateX(1px) rotate(0);
	  transform: translateX(1px) rotate(0);
	}
	100% {
	  -webkit-transform: translateX(-1px) rotate(0);
	  transform: translateX(-1px) rotate(0);
	}
  }
  .hvr-buzz-out {
	font-family: $fontstyle;
	text-align: center;
	color: #595959;
	font-size: 125%;
	background: transparent;
	border: none;
	margin-top: 1em;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {  
	color:#005c99;
	-webkit-animation-name: hvr-buzz-out;
	animation-name: hvr-buzz-out;
	-webkit-animation-duration: 0.75s;
	animation-duration: 0.75s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
  }

.courseTalkhead {
	font-size: 25px;
	font-family: $fontstyle;
	color: #595959;
	padding-top: 20px;
	letter-spacing: 2px;
	position: relative;
	left: 10px;
	padding-left: 10px;
	float: left;
	width: 100%;
	padding-bottom: 10px;
}
.projectLeftSide {
	float: left;
	flex: 0 0 50%; 
	max-width: 50%;
	position: relative;

	@include project {
		float: none;
		max-width: 95%;
		width: 100%;
		-webkit-align-self: center;
  	align-self: center;
	}
}
.builtWith {
	text-align: center;
	margin: 0;
	font-size: 22px;
	position: relative;
	left: 1em;
}

.readMoreBtn {
	background-color: transparent;
	border: none;
	color: #005c99;
	margin-left: 2em;
    padding-top: 0;
    font-size: 20px;
    font-family: $fontstyle;
}
.readMoreBtn:hover {
	color: #66b3ff;
}

.ending {
	background-color: #4d4d4d;
	@include proportions(40%, 100%);
}

.endingpg {
	font-family: $fontstyle;
	min-height: 35%;
	@include proportions(290px, 100%);
	background-color: #00111a;
	text-align: center;
}
.endingButton {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	background: transparent;
	padding: 0;
	border: none;
	font-size: 35px;
	cursor: pointer;
	color: #a6a6a6;
	margin: 5px;
}
.endingButton:hover, .endingButton:focus, .endingButton:active {
	transform: scale(1.1) perspective(1px);
	color: white;
}
.madeBy {
	font-family: $fontstyle;
	text-align: center;
	color: #595959;
	font-size: 15px;
}
.nameProgram {
	font-family: $fontstyle;
	text-align: center;
	color: #cccccc;
	font-size: 18px;
}
.email {
	text-decoration: none;
	background-color: transparent;
	font-family: $fontstyle;
	text-align: center;
	font-size: 17px;
	color: #0033cc;
}
.email:hover {
	text-decoration: none;
	color: #33cccc;
}
.backTopbtn {
	font-family: $fontstyle;
	text-align: center;
	color: #b3b3b3;
	font-size: 13px;
	background: transparent;
	border: none;
	margin-top: 1em;
}
.backTopbtn:hover {
	color: #ffffff;
}
