@import "variables";

.CourseTalkImg {
	@include proportions(150%, 150%);
	min-height: 100%;
	max-height: 100%;
	position: relative;
	float: right;
}
.courseTalkimages {
    float: right;
    flex: 0 0 50%;
    max-width: 47%;
    width: 100%;
	position: relative;
	padding: 8% 0;
	padding-right: 2%;
	vertical-align: middle;
}
.courseTalkHeader {
	font-family: $fontstyle;
	color: #595959;
	letter-spacing: 4px;
	text-align: center;
	padding-top: 15px;
	text-transform: uppercase;
	font-size: 32px;
}
.courseTalkhead {
	font-size: 25px;
	font-family: $fontstyle;
	color: #595959;
	padding-top: 20px;
	letter-spacing: 2px;
	position: relative;
	left: 10px;
	padding-left: 10px;
	float: left;
	width: 100%;
	padding-bottom: 10px;
}
.builtWith {
	text-align: center;
	margin: 0;
	font-size: 22px;
	position: relative;
	left: 1em;
}

.readMoreBtn {
	background-color: transparent;
	border: none;
	color: #005c99;
	margin-left: 2em;
    padding-top: 0;
    font-size: 20px;
    font-family: $fontstyle;
}
.readMoreBtn:hover {
	color: #66b3ff;
}

.ending {
	background-color: #4d4d4d;
	@include proportions(40%, 100%);
}

.endingpg {
	font-family: $fontstyle;
	min-height: 35%;
	@include proportions(280px, 100%);
	background-color: #00111a;
	text-align: center;
}
.endingButton {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	background: transparent;
	padding: 0;
	border: none;
	font-size: 35px;
	cursor: pointer;
	color: #a6a6a6;
	margin: 5px;
}
.endingButton:hover, .endingButton:focus, .endingButton:active {
	transform: scale(1.1) perspective(1px);
	color: white;
}
.madeBy {
	font-family: $fontstyle;
	text-align: center;
	color: #595959;
	font-size: 15px;
}
.nameProgram {
	font-family: $fontstyle;
	text-align: center;
	color: #cccccc;
	font-size: 18px;
}
.email {
	text-decoration: none;
	background-color: transparent;
	font-family: $fontstyle;
	text-align: center;
	font-size: 17px;
	color: #0033cc;
}
.email:hover {
	text-decoration: none;
	color: #33cccc;
}
.backTopbtn {
	font-family: $fontstyle;
	text-align: center;
	color: #b3b3b3;
	font-size: 13px;
	background: transparent;
	border: none;
	margin-top: 1em;
}
.backTopbtn:hover {
	color: #ffffff;
}