// Font Family
$fontstyle: 'Oswald', sans-serif;
$phoneIntro: 865px;
$phoneProject: 830px;

// Max height and width
@mixin proportions($height, $width) {
    height: $height;
    width: $width;
}

// When the screen shrinks
$projectView: 900px;
$introView: 960px;

@mixin project {
  @media (min-width: #{$projectView}){
    @content; 
  }
}

@mixin intro {
  @media (max-width: #{$introView}){
    @content;
  }
}